$main-text-color: #ffffff;
$main-text-color2: #2C4058;
$main-text-color3: #000000;
$main-text-color4: #55B7FF;
$btn-color: #2c40583e;
$main-gradient-color: linear-gradient(to right, #55b8ffdb, #7e5affd3);

$width_container: 1170px;
$adaptive_width_container: calc($width_container / 2);
$base-font-size: 16px;